body,
h1,
h2,
p,
ul,
li {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
  background: #f0f4f4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #252525;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* MENU-NAV */
header {
  position: fixed;
  width: 100%;
}

.superinfo-bg {
  background: #33a074;
}

.superinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 5px 0;
  font-family: "IBM plex mono", monospace;
  color: white;
}

.superinfo a {
  color: white;
}

.bg-nav {
  background: #56cc9d;

}

.container-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.logo-nav {
  padding: 15px 0;
}

.logo-nav h1 {
  color: white;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav ul li a {
  padding-left: 60px;
  font-family: "IBM plex mono", monospace;
  color: white;
  /* font-weight: bold; */
  font-size: 1.125em;
}

.menu-nav ul li a:hover {
  color: teal;
}

/* INTRO */
.intro {
  background: url(../img/bg-intro.png) no-repeat center center;
  background-size: cover;
  height: 537px;

  max-width: 100%
}

.intro h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  padding: 40px;
}

.intro p {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75em;
  margin: 0 auto;
}

/* SOBRE */
.sobre {
  max-width: 1200px;
  margin: 40px auto;
}

.sobre-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.titulo {
  font-size: 2em;
  font-weight: none;
  text-transform: uppercase;
  font-family: "IBM plex mono", monospace;
}

.titulo:before {
  content: "";
  display: block;
  border: 4px solid #252525;
  width: 20px;
  margin-bottom: 10px;
}

.sobre-container p {
  width: 300px;
  margin: 40px 0;
}

/* SERVICOS */
.container-servicos {
  background: #56cc9d;
}

.title-img {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.flex-servicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.box-servicos {
  border-radius: 7px;
  width: 380px;
  height: 460px;
  background: white;
  box-shadow: 1px 5px 5px 0px #c3c3c3;
  margin-top: 20px;
}

.box-servicos h2 {
  font-family: "IBM plex mono", monospace;
  text-transform: uppercase;
  font-weight: bold;
  color: #56cc9d;
  text-align: center;
  margin: 40px;
  font-size: 2em;
}

.box-servicos h2:after {
  content: "";
  display: block;
  border: 1px solid #e8e8ea;
  margin-top: 40px;
}

.box-servicos ul li {
  margin: 20px 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.box-servicos ul li::before {
  content: url(../img/pata-mark.svg);
  margin-right: 10px;
}

.btn {
  text-align: center;
  border-radius: 7px;
  padding: 15px 40px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: #252525;
  margin: 40px auto;
}

.btn:hover {
  box-shadow: 1px 1px 5px 1px #252525;
}

/* FAQ */
.faq-bg {
  max-width: 1200px;
  margin: 40px auto;
}

.faq-list {
  padding: 40px 60px 20px 60px;
}

.faq-list dt {
  font-weight: bold;
  font-size: 1.25em;
  color: #56cc9d;
  font-family: "IBM plex mono", monospace;
}

.faq-list dt::before {
  content: "";
  display: inline-block;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: #252525;
}

.faq-list dd {
  margin: 10px 0 30px 20px;
}

.imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imagens h3 {
  text-align: center;
  margin: 0 auto;
}

.imagens .border-img {
  border: 5px solid #252525;
  border-radius: 50%;
  color: #252525;
}

/* CONTATO */
.contato-bg {
  background-color: #f0f4f4;
}

.contato-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.info-contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 80px;
}

.title-contato {
  font-family: "IBM plex mono", monospace;
  color: #33a074;
}


.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  min-width: 300px;
  box-shadow: 0 0 .5 #252525;
}


/* IMG MOTIVACAo */
.motivacao {
  max-width: 100%;
  height: 376px;
  background: url(../img/motivacao.png) no-repeat center;
  background-size: cover;
}

/* FOOTER */
.bg-footer {
  background: #56cc9d;
  padding: 20px;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.container-footer h1::before {

  content: "";
  display: block;
  border: 4px solid #252525;
  width: 20px;
  margin-bottom: 10px;

}

.container-footer ul li {
  list-style: disc;
  margin: 20px 20px;
  color: white;
  font-weight: bold;
}


.flex-rs {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
}

.copy {
  background: #44a880;
}

.copy-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
}

.copy-container p {
  color: black;
  font-weight: bold;
}